extends layout

block content
    section.content#google-map

    header
        include slider.html
        section.container
            nav
                label(for="nav--configure")
                    span.notmobile Configure
                    span.mobile &#9881;
                span.nav--wrapper
                    input#nav--configure
                    div.nav--list-wrapper
                        ul
                            li
                                label(for="nav--configure") Wellcome
                            li
                                label(for="nav--configure") Documents
                            li
                                label(for="nav--configure") Sustainable Design Ideas
                            li
                                label(for="nav--configure") Legislation Monitor
                            li
                                label(for="nav--configure") Wales Low Zero Carbon Hub
                            li
                                label(for="nav--configure") Professional Networking
                            li
                                label(for="nav--configure") Recent Updates
                            li
                                label(for="nav--configure") BIM
                            li
                                label(for="nav--configure") Research and Development
                            li
                                label(for="nav--configure") Environmental Systems
                            li
                                label(for="nav--configure") Search
                            li
                                label(for="nav--configure") Forum
                            li
                                label(for="nav--configure") Event Calendar
                            li
                                label(for="nav--configure") News
                            li
                                label(for="nav--configure") Environmental Technology Skillz
                            li
                                label(for="nav--configure") Sustainable Sourcing
                            li
                                label(for="nav--configure") Sustainable Design Tools
                            li
                                label(for="nav--configure") EU
                            li
                                label(for="nav--configure") Buildings and Infrastructure
            div.search
                input(type="search" placeholder="Search: ")
                button.go
                    span.notmobile Go
                    span.mobile &#128269;
            nav
                label(for="nav--favourites")
                    span.notmobile My Favourites
                    span.mobile &#9733;
                span.nav--wrapper
                    input#nav--favourites
                    div.nav--list-wrapper
                        ul
                            li You must sign in in order to view your favourites!
            nav.row.container
                label(for="nav--menu")
                    span.mobile &#8942;
                span.nav--wrapper
                    input#nav--menu
                    div.nav--list-wrapper
                        div.nav--list-inner-wrapper
                            ul.left
                                li Home
                                li Contact
                                li About
                                li FAQ
                            ul.right
                                li Login
                                li Create Account
                                li Why register

    footer
        nav.row.container
            ul
                li Disclaimer, Privacy &amp; Cookie Information
        nav.row.container
            | Cookie info

    script(src="js/scripts.js")
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwC-BzmC2WQwxqWjqCl0ROiloWG68UUVs&callback=initMap")
